.event-list {
	/*if not using grid*/
	/*width: 450px;*/
	/*float: left;*/
	/*margin-bottom: 20px;*/
	/*margin-right: 20px;*/
	position: relative;
}

.choose-card.event-list{
	background-color: #EBF5EE;
}

.event-list h2{
	color: #000000;
	font-size: 20px;
	font-weight: bold;
	line-height: 28px;
}

.execution-error .material-icons{
	color: #E05869;
}

.execution-success .material-icons{
	color: #1F977E;
}

.event-list .material-icons{
	position: absolute;
	top: 50%;
	bottom:50%;
	right:20px;
}

.event-list-text {
	position: relative;
	height: 80px;
	width: 80%;
}

.text1 {
	position: absolute;
	top: 12px;
	left: 0px;
}

.text1 .label{
	margin-right: 10px;
}

.text2 {
	position: absolute;
	top: 34px;
	left: 0px;
}

.text3 {
	position: absolute;
	top: 56px;
	left: 0px;
}

.text4 {
	position: absolute;
	top: 12px;
	left: 50%;
}

.text5 {
	position: absolute;
	top: 34px;
	left: 50%;
}

.label {
	height: 14px;
	width: 12px;
	color: #708792;
	font-size: 14px;
	line-height: 14px;
}

.experiment-value {
	padding-left: 60px;
	color: #000000;
	font-size: 14px;
	line-height: 16px;
}

.bold-text {
	font-size: 16px;
	font-weight: bold;
}
.bold-text.mdc-button {
	font-size: 16px;
	font-weight: bold;
}

.event-list-parent {
	position: relative;
}

.choose-clu-div {
	position: relative;
}

.fullmap {
	margin: 0px;
	padding: 0px;
	height: calc(100vh - 190px);
	width: 100%;
}

.add-field-box {
	position: absolute;
	top: 22px;
	left: 46px;
	height: 270px;
	width: 405px;
	background-color: #FFFFFF;
	padding-left: 22px;
	padding-right: 22px;
	padding-top: 12px;
	/*padding-bottom: 25px;*/
}

.add-field-title .mdc-fab{
	height:32px;
	width:32px;
	background-color: #1AB146;
}

.add-field-title h2 {
	display: inline;
	color: #1AB146;
	font-size: 24px;
	font-weight: bold;
	line-height: 28px;
	margin-left: 12px;
}

.myfield-list {
	padding-top: 20px;
}
.myfield-list h2 {
	height: 28px;
	/*width: 86px;*/
	color: #455A64;
	font-size: 20px;
	font-weight: 500;
	/*line-height: 28px;*/
}

.select-my-field {
	/*height: 53px;*/
	width: 304px;
	border-radius: 2px 2px 0 0;
	background-color: #455A64;
}

.unselect-my-field{
	/*height: 53px;*/
	width: 304px;
	border-radius: 2px 2px 0 0;
	background-color: #DEE4E8;
}
.myfield-list .mdc-card{
	margin-top: 5px;
}

.myfield-list .mdc-card__supporting-text:last-child {
	padding-bottom: 5px;
}
.select-my-field .mdc-card__supporting-text{
	color: white;
}

.select-my-field h1{
	color: white;
}
.myfield-list h1{
	font-size: 18px;
}










.add-field-bottom {
	background-color: #DEE4E8;
	position: absolute;
	top: 270px;
	left: 46px;
	height: 50px;
	width: 405px;
}

.add-field-bottom .add-button{
	height: 33px;
	width: 128px;
	color: #FFFFFF;
	background-color: #34515E;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 500;
	line-height: 21px;
	text-align: center;
	top: 8px;
	right: 5px;
	position: absolute;
}
.add-field-bottom .add-button:disabled {
	background-color: #c7cdd0;
}


.add-field-bottom .cancel-button {
	height: 28px;
	width: 70px;
	color: #1AB146;
	font-family: Roboto;
	font-size: 14px;
	line-height: 28px;
	text-align: center;
	top: 8px;
	right: 140px;
	position: absolute;
}

.event-list-header {
	position: relative;
	height: 45px;
	width: 100%;
	background-color: #1AB146;
}

.event-list-header .mdc-button:not(:disabled) {
	color: white;
}

.event-list-header div {
	display: inline;
}

.event-more-options {
	float:right;
}
